<nb-flip-card class="product-type-chart-container" [showToggleButton]="false">
    <nb-card-front>
        <nb-card size="xsmall" class="xsmall-card">
            <nb-card-header class="product-type">
                Consumers
            </nb-card-header>
            <nb-card-body>
                <div class="value">{{totalConsumers}}</div>
            </nb-card-body>
        </nb-card>
    </nb-card-front>
</nb-flip-card>