.product-type {
    padding: 1.25rem;
} 
.value {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
    width: 100%;
    text-align: center;
    font-size: 3rem;
} 