<!-- <nb-accordion *ngFor="let item of uniqueMembershipBusinessVenue">
    <nb-accordion-item>
        <nb-accordion-item-header>
            {{item.businessVenueName}}
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <table class="customers">
                <thead>
                    <tr>
                        <th>Period</th>
                        <th>Total Unique Membership</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let a of item.uniqueMembershipPeriodList">
                        <td>{{a.period}}</td>
                        <td>{{a.totalUniqueMembership}}</td>
                    </tr>
                </tbody>
            </table>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion> -->