.customers {
    border-collapse: collapse;
    width: 100%;
}

.customers td,
.customers th {
    border: 1px solid #ddd;
    padding: 10px 20px;
}

.customers th {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: white;
}