
table th,
table td {
    border: 1px solid #dee2e6 !important;
    vertical-align: middle;
}

table tr th{
    text-align: center;
}
.month-info{
    margin-bottom: 30px;
    text-align: center;
    input{
        margin-right: 10px;
    }
}
.select-business{
    margin-right: 20px;
    height: 30px;
}   
:host /deep/ .btn-success{
    padding: 2px 10px;
    border-radius: 5px;
}

:host /deep/ .btn-danger{
    padding: 2px 10px;
    border-radius: 5px;
}
.btn-export-excel{
    text-align: center;
    margin: 20px 0 10px 0;
    cursor: pointer;
}