<nb-card>
    <nb-card-header>
        <div class="title">Management Venues SINGHA-- {{totalVenue}} Venues ({{totalVenueActive}} ON / {{totalVenueDeactive}} OFF)</div>
    </nb-card-header>
    <nb-card-body>
        <div class="pass-by-category" [nbSpinner]="loading">
            <ng2-smart-table [settings]="settings" [source]="listManagementVenues"></ng2-smart-table>
        </div>
        <div class="btn-export-excel">
            <button style="height:40px" class=" btn btn-success " (click)="onExportReport() ">
                <i class="fa fa-download " aria-hidden="true "></i> Export Excel
            </button>
        </div>
    </nb-card-body>
</nb-card>