
<div class="row">
    <div class="col-lg-12">
      <nb-card>
        <nb-card-body>
          <nb-stepper #stepper>
            <nb-step [stepControl]="firstForm" label="Company">
              <form [formGroup]="firstForm" (ngSubmit)="onFirstSubmit()" class="step-container">
                <nb-card>
                  <nb-card-header>Company Information</nb-card-header>
                  <nb-card-body>
                    <div class="row full-name-inputs">
                      <div class="col-sm-6 input-group">
                        <input type="text" nbInput fullWidth [ngModelOptions]="{standalone: true}"
                         [(ngModel)]="company.name"
                         placeholder="Legal Entity Name">
                      </div>
                      <div class="col-sm-6 input-group">
                        <input type="text" nbInput fullWidth [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="company.fbPageUrl"
                         placeholder="Facebook Page Url">
                      </div>
                    </div>
            
                    <div class="row full-name-inputs">
                      <div class="col-sm-6 input-group">
                        <input type="text" nbInput fullWidth [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="company.tax"
                         placeholder="Tax/Registration Number">
                      </div>
                      <div class="col-sm-6 input-group">
                        <input type="text" nbInput fullWidth [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="company.webUrl"
                         placeholder="Website Url">
                      </div>
                    </div>
            
                    <div class="row full-name-inputs">
                      <div class="col-sm-6 input-group">
                        <div class="input-group">
                          <textarea rows="5" nbInput fullWidth shape="round" [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="company.address"
                           placeholder="Registered Address"></textarea>
                        </div>
                      </div>
                      <div class="col-sm-6 input-group">
                        <div class="col-sm-12 input-group pad-0">
                          <input type="text" nbInput fullWidth [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="company.phoneNo"
                           placeholder="Phone Number">
                        </div>
                        <div class="col-sm-12 input-group pad-0">
                          <nb-select class="col-sm-12 input-group pad-0" placeholder="Select Country" [ngModelOptions]="{standalone: true}"
                           [(ngModel)]="company.countryId">
                            <nb-option value="8CF8C24F-8226-4898-9E08-A6DEA6370780">Viet Nam</nb-option>
                            <nb-option value="FA2ECD42-7AFD-4E4C-BBDE-7531FF7E40C1">Thailand</nb-option>
                            <nb-option value="5C3581D5-B69D-4185-899A-8933F02BACE6">Singapore</nb-option>
                            <nb-option value="8CF5528E-64D7-4902-B9FA-56EF1D8E57E7">Philipines</nb-option>
                            <nb-option value="F72A9636-2431-4AF5-BEDC-A98704E0B0CE">Myanmar</nb-option>
                          </nb-select>
                        </div>
                      </div>
                    </div>
                  </nb-card-body>
                </nb-card>
                <div class="text-center">
                  <button nbButton nbStepperNext>next</button>
                </div>
              </form>
            </nb-step>
            <nb-step [stepControl]="secondForm" label="Banking">
              <form [formGroup]="secondForm" (ngSubmit)="onSecondSubmit()" class="step-container">
                  <nb-card>
                      <nb-card-header>Bank Information</nb-card-header>
                      <nb-card-body>
                
                        <div class="row full-name-inputs">
                          <div class="col-sm-6 input-group">
                            <input type="text" nbInput fullWidth [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="bank.no"
                            placeholder="Bank Account Number">
                          </div>
                          <div class="col-sm-6 input-group">
                              <input type="text" nbInput fullWidth [ngModelOptions]="{standalone: true}"
                              [(ngModel)]="bank.holder"
                              placeholder="Bank Account Holders">
                            </div>
                        </div>

                        <div class="row full-name-inputs">
                          <div class="col-sm-6 input-group">
                            <input type="text" nbInput fullWidth [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="bank.name"
                            placeholder="Bank Name">
                          </div>
                          <div class="col-sm-6 input-group">
                            <input type="text" nbInput fullWidth [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="bank.branch"
                            placeholder="Bank Branch">
                          </div>
                        </div>

                        <div class="row full-name-inputs">
                          <div class="col-sm-6 input-group">
                            <input type="text" nbInput fullWidth [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="bank.swiftCode"
                            placeholder="Swift Code">
                          </div>
                          <div class="col-sm-6 input-group">
                          </div>
                        </div>
                
                      </nb-card-body>
                    </nb-card>
                    <div class="text-center">
                      <button nbButton nbStepperPrevious>prev</button>
                      <button nbButton nbStepperNext>next</button>
                    </div>
              </form>
            </nb-step>
            <nb-step [stepControl]="thirdForm" label="Venue">
              <form [formGroup]="thirdForm" (ngSubmit)="onThirdSubmit()" class="step-container">
                <nb-card>
                  <nb-card-header>Venue Information</nb-card-header>
                  <nb-card-body>

                    <div class="row full-name-inputs">
                      <div class="col-sm-6 input-group">
                        <input type="text" nbInput fullWidth [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="venue.name"
                        placeholder="Venue/Brand Name">
                      </div>
                      <div class="col-sm-6 input-group">
                          <input type="text" nbInput fullWidth [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="venue.fbId"
                          placeholder="Facebook Page ID">
                        </div>
                    </div>

                    <div class="row full-name-inputs">
                      <div class="col-sm-6 input-group">
                        <input type="text" nbInput fullWidth [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="venue.address"
                        placeholder="Address">
                      </div>
                      <div class="col-sm-6 input-group">
                          <input type="text" nbInput fullWidth [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="venue.phoneNo"
                          placeholder="Phone Number">
                        </div>
                    </div>



                    <div class="row full-name-inputs">
                        <div class="col-sm-6 input-group">
                            <textarea rows="5" shape="round" nbInput fullWidth [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="venue.description"
                            placeholder="Description"></textarea>
                        </div>
                        <div class="col-sm-6 input-group">
                            <!-- <button class="btn-demo btn-success btn" (click)="onSave()">Save</button> -->
                        </div>
                      </div>
            
                      <div class="row full-name-inputs">
                          <div class="col-sm-6 input-group">
                              <nb-checkbox [(ngModel)]="venue.typeDateOpening" [ngModelOptions]="{standalone: true}">Customize Open Time</nb-checkbox>
                              <table *ngIf="venue.typeDateOpening == 0" class="table table-hover table-default">
                                  <thead>
                                    <tr>
                                      <th scope="col">Date</th>
                                      <th scope="col" class="text-center">Opening Time</th>
                                      <th scope="col">Open</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr class="oneday">
                                      <th scope="row">{{ dateOpeningOneday.DayOfWeek }}</th>
                                      <td>
                                          <input type="time" nbInput [(ngModel)]="dateOpeningOneday.TimeOpen" [ngModelOptions]="{standalone: true}">
                                          <span class="timetill"> till </span>
                                          <input type="time" nbInput [(ngModel)]="dateOpeningOneday.TimeClosed" [ngModelOptions]="{standalone: true}">
                                      </td>
                                      <td>
                                        <nb-checkbox status="success" [(ngModel)]="dateOpeningOneday.On" [ngModelOptions]="{standalone: true}"></nb-checkbox>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>

                              <table *ngIf="venue.typeDateOpening == 1" class="table table-hover table-default">
                                  <thead>
                                    <tr>
                                      <th scope="col">Date</th>
                                      <th scope="col" class="text-center">Opening Time</th>
                                      <th scope="col">Open</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let item of dateOpening" class="oneday">
                                      <th scope="row">{{ item.DayOfWeek }}</th>
                                      <td>
                                          <input type="time" nbInput [(ngModel)]="item.TimeOpen" [ngModelOptions]="{standalone: true}">
                                          <span class="timetill"> till </span>
                                          <input type="time" nbInput [(ngModel)]="item.TimeClosed" [ngModelOptions]="{standalone: true}">
                                      </td>
                                      <td>
                                        <nb-checkbox status="success" [(ngModel)]="item.On" [ngModelOptions]="{standalone: true}"></nb-checkbox>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              <div >
                              </div>
                          </div>
               
                          <div class="col-sm-6 input-group">
                          </div>
                        </div>

          
                    <!-- <div class="row full-name-inputs">
                      <div class="col-sm-6 input-group">
                        <input type="text" nbInput fullWidth [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="venue.name"
                        placeholder="Venue/Brand Name">
                      </div>
                      <div class="col-sm-6 input-group">
                        <input type="text" nbInput fullWidth [[ngModelOptions]="{standalone: true}"
                        [(ngModel)]="venue.fbId"
                        placeholder="Facebook Page ID">
                      </div>
                    </div>
            
                    <div class="row full-name-inputs">
                      <div class="col-sm-6 input-group">
                          <textarea rows="5" nbInput fullWidth shape="round" [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="venue.description"
                          placeholder="Description"></textarea>
                      </div>
                    </div> -->
          
                  </nb-card-body>
                </nb-card>
                <div class="text-center">
                  <button nbButton nbStepperPrevious>prev</button>
                  <button nbStepperNext class="btn-success btn" (click)="onSave()">Confirm</button>
                </div>
                
              </form>
            </nb-step>
            <nb-step [stepControl]="thirdForm" [hidden]="true" label="Third step">
              <div class="step-container">
                <h3>You have successfully registered</h3>
                <h3>Hope you waiting on time Approve</h3>
              </div>
            </nb-step>
          </nb-stepper>
        </nb-card-body>
      </nb-card>





    </div>
   </div>