<nb-card [nbSpinner]="loading">
    <nb-card-body>
        <div class="col-md-12">
            <select [(ngModel)]="selectedDropDownItem" (change)="onClickDropDownItem()" class="dropdown-pro">
                <option *ngFor="let item of arrCampaigns; let i = index" [hidden]="isActive != item.isActive" [value]="i">
                    {{item.name}}
                </option>
            </select>
            <label class="container">
                <input type="checkbox" name="vehicle1" value="" [(ngModel)]="isActive" (change)="onCheckBoxChange($event)"> IsActive
                <span class="checkmark"></span>
            </label>
            <input type="text" class="input-search pull-right" id="myInput" [(ngModel)]="seachKeyWord" (keyup)="keyUpSearch()" placeholder="Search for code.."
                title="Type in a name">
        </div>
        <div class="col-md-12">
            <p>Total Code: {{promotionCodeFilter.length}}</p>
            <p>Total Get Reward: {{totalGetReward}}</p>
            <p>Total Used: {{totalUsed}}</p>
        </div>

        <div class="col-md-12">
            <table class="col-md-6 col-offset-2 table-venue-pro-used" id="myTable">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Get Reward/Total</th>
                        <th>Used</th>
                        <th>From</th>
                        <th>To</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let item of promotionCodeFilter">
                        <tr (click)="item.isShowCredit = !item.isShowCredit">
                            <td>{{item.code}}</td>
                            <td>{{item.getReward}}/{{item.total}}</td>
                            <td>{{item.used}}</td>
                            <td>{{item.from | date: 'dd MMM yyyy'}}</td>
                            <td>{{item.to | date: 'dd MMM yyyy'}}</td>
                        </tr>
                        <tr *ngIf="item.isShowCredit">
                            <td colspan="100">
                                <div class="table-child">
                                    <table width="100%">
                                        <thead>
                                            <tr>
                                                <th>Account</th>
                                                <th>Created Date</th>
                                                <th>Is Used</th>
                                                <th>Used Time</th>
                                                <th>Venue Name</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let credit of item.credits">
                                                <td>{{credit.email}}</td>
                                                <td>{{credit.createdDate}}</td>
                                                <td *ngIf="credit.isUsed === true">Used</td>
                                                <td *ngIf="credit.isUsed === false">----</td>
                                                <td>{{credit.usedTime}}</td>
                                                <td>{{credit.venueName}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
            <div class="btn-export-excel">
                <button class="btn btn-success" (click)="onExportReport()">
                    <i class="fa fa-download" aria-hidden="true"></i> Export Excel
                </button>
            </div>
        </div>
    </nb-card-body>
</nb-card>