.table-venue-pro-used {
    line-height: 1.5em;
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    width: 100%;
    max-width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
    margin-top: 20px;

    thead tr {
        background: #7659ff;

        th {
            padding-right: 1.75rem;
            position: relative;
            padding: .875rem 1.25rem;
            border: 1px solid #342e73;
            vertical-align: middle;
            text-align: center;
        }
    }

    tbody tr {
        td {
            padding-right: 1.75rem;
            position: relative;
            padding: .875rem 1.25rem;
            border: 1px solid #342e73;
            vertical-align: middle;
            text-align: center;
        }

        &:nth-child(2n) {
            background-color: #3a347a;
        }

        &:hover {
            background-color: #494299;
            cursor: pointer;
        }
    }

    .table-child {
        overflow: auto;
        height: 300px;
        thead tr {
            background: #00d68f;
            th {
                padding-right: 1.75rem;
                position: relative;
                padding: .875rem 1.25rem;
                border: 1px solid #fff;
                vertical-align: middle;
                text-align: center;
                color: #fff;
            }
        }
        tbody tr {
            td{
                border: 1px solid #fff;
            }
            &:hover {
                background-color: transparent;
            }
        }
    }
}

.dropdown-pro {
    border: none;
    background: #7659ff;
    color: #fff;
    padding: 5px;
    line-height: 1;
    margin: 20px 10px 20px 0;
    width: 250px;
}

.container {
    display: initial;
    position: relative;
    padding-left: 27px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 19px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
    }
}

.container:hover input~.checkmark {
    background-color: #ccc;
}

.container input:checked~.checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked~.checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 11px;
    top: 7px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.input-search{
    float: right;
    margin: 20px 0;
    height: 30px;
}
.btn-export-excel{
    text-align: center;
    margin: 20px 0 10px 0;
    cursor: pointer;
}