<!-- <nb-select class="btn-product" [(selected)]="selectedItem" class="btn-product" (selectedChange)="onPeriodChanged()">
  <nb-option *ngFor="let item of venues" value="{{item.id}}">{{item.name}}</nb-option>
</nb-select> -->