<nb-card size="medium">
  <nb-card-header>
    <div class="title">PASS Analytics</div>
    <div class="sub-title">Consumption</div>
  </nb-card-header>
  <nb-card-body>
    <div class="chart-container">
      <div class="chart-header">
        <div class="legends">
          <div class="legend">
            <div class="legend-item-color" style="background: linear-gradient(90deg, rgb(0, 136, 255) 0%, rgb(61, 175, 255) 100%);"></div>
            <div class="legend-title">PASS</div>
          </div>
          <div class="legend">
            <div class="legend-item-color" style="background: linear-gradient(90deg, rgb(164, 84, 255) 0%, rgb(118, 89, 255) 100%);"></div>
            <div class="legend-title">Consumers</div>
          </div>
        </div>
      </div>
      <div echarts [options]="options" class="echart" (chartInit)="onChartInit($event)"></div>
    </div>
  </nb-card-body>

  <ngx-slide-out [showVisitorsStatistics]="true"></ngx-slide-out>
</nb-card>