nb-card{
    position: relative;
}
nb-card-header {
    border-bottom: none;
    padding: 1.25rem;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    color: #fff;
    font-family: Exo;
    font-size: 1.125rem;
    font-weight: 500;
    .title{
        font-size: 1.5rem;
        font-weight: 600;
    }
    .sub-title{
        color: #a1a1e5;
    }
}
.chart-container{
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    .chart-header{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-bottom: 2.125rem;
        .legends{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            color: #a1a1e5;
            padding: 0 0 0 2.85rem;
            .legend-item-color{
                min-width: 15px;
                min-height: 15px;
                border-radius: .2rem;
            }
            .legend-title{
                padding: 0 .75rem;
                white-space: nowrap;
            }
            .legend{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                -webkit-box-align: baseline;
                -ms-flex-align: baseline;
                align-items: baseline;
                margin-left: 4rem;
            }
            .legend:nth-child(0){
                margin-left: 0;
            }
        }
    }
}