<nb-card size="medium">
  <nb-card-body>
    <div class="progress-info">
      <div class="subtitle">HCMC Outlets</div>
      <div class="h3">{{activeLocationHCMCount}}</div>
      <nb-progress-bar [value]=activeLocationHCMPercent status="awareness" [displayValue]="true"></nb-progress-bar>
      <div class="caption description">
        <bdi>Target is 40 by February 15th 2020</bdi>
      </div>
    </div>

    <div class="progress-info">
      <div class="subtitle">Hanoi Outlets</div>
      <div class="h3">{{activeLocationHNCount}}</div>
      <nb-progress-bar [value]=activeLocationHNPercent status="engagement" [displayValue]="true"></nb-progress-bar>
      <div class="caption description">
        <bdi>Target is 6 by February 15th 2020</bdi>
      </div>
    </div>

    <div class="progress-info">
      <div class="subtitle">Da Nang Outlets</div>
      <div class="h3">0</div>
      <nb-progress-bar [value]="0" status="promotion" [displayValue]="true"></nb-progress-bar>
      <div class="caption description">
        <bdi>Target is 10 by June 30th 2020</bdi>
      </div>
    </div>
  </nb-card-body>
</nb-card>