.progress-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 32px;

  &:first-child {
    margin-top: 0;
  }

  .subtitle {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #fff;
    margin-bottom: 5px;
  }

  h3 {
    font-size: 30px;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    line-height: 40px;
  }

  

  .caption {
    font-family: Open Sans, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    margin-top: 10px;

    .description {
      margin-top: 0.5rem;
    }
  }
}
::ng-deep {
  .awareness {
      background: linear-gradient(90deg, rgb(164, 84, 255) 0%, rgb(118, 89, 255) 100%);
  }
  .engagement {
      background: linear-gradient(90deg, #00bece 0%, #00da78 100%);
  }
  .promotion {
      background: linear-gradient(90deg,#FF6600 0%, #CC6600 100%);
  }
}