
table th,
table td {
    border: 1px solid #dee2e6 !important;
    vertical-align: middle;
}

table tr th{
    text-align: center;
}
.month-info{
    margin-bottom: 30px;
    text-align: center;
    input{
        margin-right: 10px;
    }
}
.select-business{
    margin-right: 20px;
    height: 30px;
}