<nb-card>
    <nb-card-header>
        <div class="title">PASS Breakdown</div>
    </nb-card-header>
    <nb-card-body>
        <div class="pass-by-category" [nbSpinner]="loading">
            <ng2-smart-table [settings]="settings" [source]="listVenueConsumption"></ng2-smart-table>
        </div>
    </nb-card-body>
</nb-card>