:host /deep/ .edit-endor {
    font-size: 25px;
    color: #fff;
    text-align: center;
    width: 100%;
    margin-left: 15px;
}

.total-number {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

:host /deep/ select.form-control {
    height: 32px !important;
    padding: 0.1em .6em;

}

:host /deep/ .image-event-fb {
    color: #fff;
}