<nb-reveal-card [showToggleButton]="false" [revealed]="revealed">
  <nb-card-front>
    <nb-card size="small" class="small-card">
      <nb-card-header class="title-pass-in-period">
        <span>PASS</span>
        <div class="selected-product">
          <nb-select [(selected)]="selectedItem" class="btn-product selected-period" (selectedChange)="onPeriodChanged()">
            <nb-option value="month">MONTH</nb-option>
            <nb-option value="week">WEEK</nb-option>
          </nb-select>
          <i class="nb-arrow-down" (click)="toggleView()"></i>
        </div>
      </nb-card-header>
      <nb-card-body class="content-pass-in-period">
        <ul class="traffic-list" *ngIf="selectedItem == 'week'">
          <li class="ng-star-inserted" *ngFor="let item of arrTotalInWeek ; let j = index">
            <div class="date">{{item.week}}</div>
            <div class="value">{{item.totalPassInWeek}}</div>
            <div class="delta" [ngClass]="{'up': item.precentInWeek >= 0, 'down': item.precentInWeek < 0}">{{item.precentInWeek}}%</div>
            <div class="traffic-bar">
              <div class="period-from">{{item.week}}</div>
              <div class="vertical-progress-bar">
                <div class="progress-line" style="height: 31%;"></div>
              </div>
              <div class="vertical-progress-bar">
                <div class="progress-line success" style="height: 50%;"></div>
              </div>
              <div class="period-to">{{(arrTotalInWeek[j + 1]).week}}</div>
            </div>
          </li>
        </ul>

        <ul class="traffic-list" *ngIf="selectedItem == 'month'">
          <li class="ng-star-inserted" *ngFor="let item of arrTotalInMonth; let i = index">
            <div class="date">{{item.month}}/{{item.year}}</div>
            <div class="value">{{item.totalPassInMonth}}</div>
            <div class="delta" [ngClass]="{'up': item.precentInMonth >= 0, 'down': item.precentInMonth < 0}">{{item.precentInMonth}}%</div>
            <div class="traffic-bar">
              <div class="period-from">{{item.month}}</div>
              <div class="vertical-progress-bar">
                <div class="progress-line" style="height: 31%;"></div>
              </div>
              <div class="vertical-progress-bar">
                <div class="progress-line success" style="height: 50%;"></div>
              </div>
              <div class="period-to-month" *ngIf="arrTotalInMonth[i + 1]">{{(arrTotalInMonth[i + 1]).month}}</div>
            </div>
          </li>
        </ul>
      </nb-card-body>
    </nb-card>
  </nb-card-front>
  <nb-card-back>
    <nb-card size="small" class="small-card">
      <nb-card-header class="title-pass-in-period">
        <span>PASS</span>
        <div class="selected-product">
          <nb-select [(selected)]="selectedItemPeriod" class="btn-product" (selectedChange)="onChartChanged()">
            <nb-option value="week">WEEK</nb-option>
            <nb-option value="month">MONTH</nb-option>
          </nb-select>
          <i class="nb-arrow-down" (click)="toggleView()"></i>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div echarts [options]="options" class="echart" (chartInit)="onChartInit($event)"></div>
      </nb-card-body>
    </nb-card>
  </nb-card-back>
</nb-reveal-card>