.title-pass-in-period {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    .selected-product {
        display: flex;
        align-items: center;

        .btn-product {
            margin-right: 25px;
            width: 8.125rem;
        }

        .nb-arrow-down {
            cursor: pointer;
        }
    }
}

::ng-deep {
    .selected-period button {
        background: transparent !important;
    }
}

.traffic-list {
    padding: 0 !important;
    margin: 0;

    .ng-star-inserted {
        list-style: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 4.5rem;
        font-size: 1.25rem;
        position: relative;
        color: #a1a1e5;
        padding: 1rem 1.25rem;
        border-bottom: 1px solid #342e73;

        &:hover {
            background-color: #2f296b;
            cursor: pointer;

            &::before {
                position: absolute;
                content: '';
                height: 100%;
                width: 6px;
                left: 0;
                top: 0;
                background-color: #00d977;
                border-radius: .5rem;
            }
        }

        .value {
            color: #fff;
        }

        .delta {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            padding-left: .5rem;
            font-size: 1rem;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;

            &::before {
                content: '';
                right: 100%;
                margin-right: .7rem;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
            }
        }

        >* {
            -webkit-box-flex: 2;
            -ms-flex: 2;
            flex: 2;
        }

    }
}

.delta.down {
    color: #ff5680;

    &::before {
        bottom: 5px;
        border-top: 6px solid #ff5680;
    }
}

.delta.up {
    color: #26df8b;

    &::before {
        top: 5px;
        border-bottom: 6px solid #26df8b;
    }
}

.content--pass-in-period {
    padding: 0;
}

.traffic-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    position: relative;
    height: 100%;
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 !important;
    flex: 1 !important;

    .period-from {
        position: absolute;
        right: 100%;
        bottom: 0;
        white-space: nowrap;
    }

    .period-to,
    .period-from {
        -ms-flex-item-align: end;
        align-self: flex-end;
        font-size: 1rem;
        line-height: .8;
        margin-left: .5rem;
    }

    .period-to-month {
        height: 0;
        border-bottom: none;
        margin-bottom: -10px;
        padding-left: 0;
        padding-right: 0;
        -ms-flex-item-align: end;
        align-self: flex-end;
        font-size: 1rem;
        line-height: .8;
        margin-left: .5rem;
    }

    .vertical-progress-bar {
        height: 100%;
        width: .7rem;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        margin-left: .5rem;

        .progress-line {
            width: 100%;
            background-color: #d0d8e3;
            background: -webkit-gradient(linear, left top, left bottom, from(#a054fe), to(#7a58ff));
            background: linear-gradient(180deg, #a054fe 0, #7a58ff 100%);
        }

        .progress-line.failure {
            background: -webkit-gradient(linear, left top, left bottom, from(#ff38ab), to(#ff386c));
            background: linear-gradient(180deg, #ff38ab 0, #ff386c 100%);
        }

        .progress-line.success {
            background: -webkit-gradient(linear, left bottom, left top, from(#00caba), to(#00d77f));
            background: linear-gradient(0deg, #00caba 0, #00d77f 100%);
        }
    }
}

.content-pass-in-period {
    padding: 0;
}

.echart {
    height: 95%;
    width: 100%;
}