<i class="show-hide-toggle" [class.nb-arrow-thin-left]="!showVisitorsStatistics" [class.nb-arrow-thin-right]="showVisitorsStatistics"
  (click)="toggleStatistics()"></i>
<div class="slide-out-container" [class.expanded]="showVisitorsStatistics" [class.collapsed]="!showVisitorsStatistics">
  <div class="content-wrapper">
    <div class="visitors-statistics">
      <div class="statistics-header">
        <div class="visitors-value">{{newPass}}</div>
        <div class="visitors-title">New PASS</div>
      </div>
      <div class="statistics-chart">
        <div echarts [options]="options" class="echart" (chartInit)="onChartInit($event)"></div>
      </div>
      <div class="statistics-footer">
        <div class="chart-values">
          <span class="chart-value">{{newPassPercent}}%</span>
          <span class="chart-value">{{repeatPassPercent}}%</span>
        </div>
        <div class="legends">
          <div class="legend">
            <div class="legend-item-color" style="background: linear-gradient(90deg, rgb(255, 203, 23) 0%, rgb(255, 135, 76) 100%);">
            </div>
            <div class="legend-title">New PASS</div>
          </div>
          <div class="legend">
            <div class="legend-item-color" style="background: linear-gradient(90deg, rgb(0, 199, 199) 0%, rgb(0, 217, 119) 100%);">
            </div>
            <div class="legend-title">Repeat PASS</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>