.show-hide-toggle{
    position: absolute;
    display: block;
    font-size: 2rem;
    font-weight: 600;
    top: 1.5rem;
    right: 1.5rem;
    cursor: pointer;
    color: #a1a1e5;
    background-color: transparent;
    z-index: 2;
}
.slide-out-container.expanded{
    left: calc(100% - 30%);
}
.slide-out-container.collapsed{
    left: calc(100% - 6rem);
}
.slide-out-container{
    position: absolute;
    padding: 1.5rem;
    width: 30%;
    display: block;
    height: 100%;
    top: 0;
    overflow: hidden;
    -webkit-transition: .5s ease-out;
    transition: all .5s ease-out;
    &::before{
        content: '';
        right: 0;
        width: 100%;
        position: absolute;
        background: radial-gradient(circle,#302c6e 0,#423f8c 100%);
        -webkit-box-shadow: 2px 0 3px rgba(19,19,94,.9);
        box-shadow: 2px 0 3px rgba(19,19,94,.9);
        -webkit-filter: blur(3px);
        filter: blur(3px);
        opacity: .9;
        z-index: 1;
        display: block;
        height: 100%;
        top: 0;
        overflow: hidden;
        -webkit-transition: .5s ease-out;
        transition: all .5s ease-out;
    }
}

.content-wrapper{
    z-index: 1;
    position: relative;
    width: 100%;
    -webkit-transition: .5s ease-out;
    transition: all .5s ease-out;
    margin: 0 6rem; 
    .visitors-statistics{
        width: 100%;
        .statistics-header{
            .visitors-value{
                font-size: 3rem;
                font-weight: 300;
                color: #fff;
                line-height: .8;
            }
            .visitors-title{
                margin-top: 1rem;
                font-size: 1.25rem;
                color: #a1a1e5;
            }
        }
        .statistics-chart{
            margin-top: 3.5rem;
            margin-bottom: 1.5rem;
            width: 100%;
        }
        .statistics-footer{
            .chart-values{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                .chart-value{
                    color: #fff;
                    font-size: 2rem;
                    font-weight: 600;
                    margin-bottom: 1rem;
                    -webkit-box-flex: 1;
                    -ms-flex: 1;
                    flex: 1;
                }
            }
            .legends{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                color: #a1a1e5;
                padding: 0;
                margin-left: 0;
                .legend{
                    -webkit-box-flex: 1;
                    -ms-flex: 1;
                    flex: 1;
                    margin-left: 0;
                    -webkit-box-pack: start;
                    -ms-flex-pack: start;
                    justify-content: flex-start;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: baseline;
                    -ms-flex-align: baseline;
                    align-items: baseline;
                    .legend-item-color{
                        min-width: 15px;
                        min-height: 15px;
                        border-radius: .2rem;
                    }
                    .legend-title{
                        padding: 0 .75rem;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}
.slide-out-container.expanded .content-wrapper{
    margin: 0;
}
.echart{
    display: block;
    height: 190px;
    width: 100%;
}
