
<nb-layout>
  <nb-layout-column>
    <nb-card class="flex-centered col-xl-3 col-lg-6 col-md-8 col-sm-12">

      <nb-card-body>
        <!-- <h2 class="title text-center" [infShadow]="'5px'" [infShadowX]="'5px'" [infShadowY]="'15px'" [infShadowBlur]="'hotpink'">Venues Portal</h2> -->
        <div class="text-center">
          <img _ngcontent-c4="" src="/assets/images/wisepasslogo.png" style="border:0px; max-width: 200px;">
        </div>
        <nb-auth-block *ngIf="!model.isLogin" class="flex-centered-block">

          <div class="form-group" *ngIf="model.statusLogin == 0">
            <h6 class="tell-email">Tell us your email</h6>
            <input [(ngModel)]="model.inputValidateEmail.Email" type="email" (keydown)="onKeydown('validateemail', $event)" class="form-control input-email"
              id="exampleInputEmail1" placeholder="Email" required>
            <br>
            <small class="form-text error">{{ model.textError }}</small>
            <br>
            <p class="flex-centered-description">We will send a an email with a verification code to this email. By signing up, you agree to our
              <a href="http://wisepass.co/home/termsandconditionsapp" target="_blank">
                <b>Terms and Conditions.</b>
              </a>
            </p>
            <input type="submit" name="submit" id="submit" class="btn btn-block btn-hero-success" value="Next" (click)="onValidateEmail($event)"
            />
          </div>

          <!-- <div class="form-group" *ngIf="model.statusLogin == 1">
            <div>
              <h6 class="tell-email">Tell us your email</h6>
              <input [(ngModel)]="model.inputValidateEmail.Email" type="email" (keydown)="onKeydown('validateemail', $event)" class="form-control input-email form-email-otp"
                id="exampleInputEmail1" placeholder="Email" required>
            </div>
            <div class="confirmation_code split_input large_bottom_margin" data-multi-input-code="true">
              <div class="confirmation_code_group">
                <div class="split_input_item input_wrapper">
                  <input #otp1 type="text" class="inline_input" maxlength="1" pattern="[0-9]{6}" [(ngModel)]="model.OtpInput.UmbrellaOne" (keyup)="next(otp2)">
                </div>
                <div class="split_input_item input_wrapper">
                  <input #otp2 type="text" class="inline_input" maxlength="1" pattern="[0-9]{6}" [(ngModel)]="model.OtpInput.UmbrellaTwo" (keyup)="next(otp3)">
                </div>
                <div class="split_input_item input_wrapper">
                  <input #otp3 type="text" class="inline_input" maxlength="1" pattern="[0-9]{6}" [(ngModel)]="model.OtpInput.UmbrellaThree" (keyup)="next(otp4)">
                </div>
                <div class="split_input_item input_wrapper">
                  <input #otp4 type="text" class="inline_input" maxlength="1" pattern="[0-9]{6}" [(ngModel)]="model.OtpInput.UmbrellaFour" (keydown)="onKeydownOtpInput('UmbrellaFour', $event)">
                </div>
              </div>
            </div>
            <span class="info-get-email" style="cursor: pointer;">Didn't get the email? <b (click)="onValidateEmail()">Resend</b></span>
          </div> -->

          <div class="form-group" *ngIf="model.statusLogin == 1">
            <!-- <input [(ngModel)]="model.inputValidateOtp.Otp" type="text" (keydown)="onKeydown('validateotp', $event)" class="form-control" id="inputOtp" placeholder="OTP Code" required>
                        <br> -->
            <div>
              <h6 class="tell-email">Tell us your email</h6>
              <input [(ngModel)]="model.inputValidateEmail.Email" type="email" (keydown)="onKeydown('validateemail', $event)" class="form-control input-email form-email-otp"
                id="exampleInputEmail1" placeholder="Email" required>
            </div>
            <div class="confirmation_code split_input large_bottom_margin" data-multi-input-code="true">
              <div class="confirmation_code_group">
                <div class="split_input_item input_wrapper">
                  <input #otp1 type="text" oninput="this.value=this.value.replace(/[^0-9]/g,'');" class="inline_input" maxlength="1" pattern="^[0–9]$"
                    [(ngModel)]="model.OtpInput.UmbrellaOne" (keyup)="next($event, otp2)">
                </div>
                <div class="split_input_item input_wrapper">
                  <input #otp2 type="text" oninput="this.value=this.value.replace(/[^0-9]/g,'');" class="inline_input" maxlength="1" pattern="^[0–9]$"
                    [(ngModel)]="model.OtpInput.UmbrellaTwo" (keyup)="next($event, otp3)">
                </div>
                <div class="split_input_item input_wrapper">
                  <input #otp3 type="text" oninput="this.value=this.value.replace(/[^0-9]/g,'');" class="inline_input" maxlength="1" pattern="^[0–9]$"
                    [(ngModel)]="model.OtpInput.UmbrellaThree" (keyup)="next($event,otp4)">
                </div>
                <div class="split_input_item input_wrapper">
                  <input #otp4 type="text" oninput="this.value=this.value.replace(/[^0-9]/g,'');" class="inline_input" maxlength="1" pattern="^[0–9]$"
                    [(ngModel)]="model.OtpInput.UmbrellaFour" (keyup)="next($event, otp4)">
                </div>
              </div>
            </div>
            <small *ngIf="model.textError != ''" class="form-text error">{{ model.textError }}</small>
            <small *ngIf="model.textSuccess != ''" class="form-text text-success">{{ model.textSuccess }}</small>
            <span class="info-get-email" style="cursor: pointer;">Didn't get the email?
              <b (click)="onValidateEmail()">Resend</b>
            </span>
          </div>

          <!-- <div class="form-group">
                      <input [(ngModel)]="model.input.UserName" type="email" (keydown)="onKeydown('password', $event)" class="form-control" id="exampleInputEmail1" placeholder="User Name" required>
                    </div>
                    <div class="form-group">
                      <input [(ngModel)]="model.input.Password" type="password" (keydown)="onKeydown('password', $event)" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
                    </div> -->

          <!-- <div class="form-group accept-group col-sm-12">
                      <nb-checkbox>Remember Me</nb-checkbox>
                      <a class="forgot-password" routerlink="../request-password" ng-reflect-router-link="../request-password" href="#/auth/request-password">Forgot Password?</a>
                    </div> -->

          <!-- <input type="submit" name="submit" id="submit" class="btn btn-block btn-hero-success" value="Login" (click)="onLogin($event)" /> -->
        </nb-auth-block>
        <!-- <nb-auth-block *ngIf="model.isLogin">
          <input type="submit" name="submit" id="submit" class="btn btn-block btn-hero-success" value="Thoát" (click)="onLogout($event)"
          />
        </nb-auth-block> -->

        <nb-auth-block *ngIf="model.isLogin">
          <p>You are logging, please go home OR logout</p>
          <input type="submit" name="submit" class="btn btn-block btn-primary" value="Home" (click)="onGoHome($event)" />
          <input type="submit" name="submit" class="btn btn-block btn-hero-success" value="Logout" (click)="onLogout($event)" />
        </nb-auth-block>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>