.revenue-pass-in-period{
    padding: 0;
    .chart-container{
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        overflow: hidden;
        .summary-container{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            background-color: rgba(0,0,0,.1);
            -webkit-box-shadow: none;
            box-shadow: none;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-around;
            padding: 1rem 4rem 1rem;
            margin-bottom: 1rem;
            border: 1px solid #332e73;
            border-left: none;
            border-right: none;
            .value{
                font-size: 2rem;
                color: #fff;
                position: relative;
                .currency{
                    font-size: 11px;
                    position: absolute;
                    top: -5px;
                    right: -15px;
                }
            }
        }
    }
}
.echart {
    display: block;
    // height: 331px !important;
    width: 100%;
    padding: 0 1.25rem; 
}
.form-control{
    margin: 0 20px;
}
.chart-header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    .legends{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        color: #a1a1e5;
        padding: 0 0 0 2.85rem;
        .legend-item-color{
            min-width: 20px;
            min-height: 15px;
            border-radius: .2rem;
        }
        .legend-title{
            padding: 0 .75rem;
            white-space: nowrap;
        }
        .legend{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-box-align: baseline;
            -ms-flex-align: baseline;
            align-items: baseline;
            margin-right: 3rem;
        }
        .legend:nth-child(0){
            margin-left: 0;
        }
    }
}