<nb-card size="large" class="large-card">
  <nb-card-body class="revenue-pass-in-period">
    <nb-tabset fullWidth>
      <nb-tab tabTitle="Consumers">
        <div class="chart-container">
          <div class="summary-container">
            <div class="summory ng-star-inserted">
              <div class="title">New Consumers</div>
              <div class="value">{{totalNewConsumers}}</div>
            </div>
            <div class="summory ng-star-inserted">
              <div class="title">Repeat Consumers</div>
              <div class="value">{{totalRepeatConsumers}}</div>
            </div>
          </div>
          <div class="chart-header">
            <div class="legends">
              <div class="legend">
                <div class="legend-item-color" style="background: linear-gradient(90deg, rgb(164, 84, 255) 0%, rgb(118, 89, 255) 100%);"></div>
                <div class="legend-title">New Consumers</div>
              </div>
              <div class="legend">
                <div class="legend-item-color" style="background: linear-gradient(90deg, #00bece 0%, #00da78 100%);"></div>
                <div class="legend-title">Repeat Consumers</div>
              </div>
            </div>
          </div>
          <div echarts [options]="options" class="echart" (chartInit)="onChartInit($event)"></div>
        </div>
      </nb-tab>
      <nb-tab tabTitle="PASS">
        <div class="chart-container">
          <div class="summary-container">
            <div class="summory ng-star-inserted">
              <div class="title">New PASS</div>
              <div class="value">{{totalNewPass}}</div>
            </div>
            <div class="summory ng-star-inserted">
              <div class="title">Repeat PASS</div>
              <div class="value">{{totalRepeatPass}}</div>
            </div>
          </div>
          <div class="chart-header">
            <div class="legends">
              <div class="legend">
                <div class="legend-item-color" style="background: linear-gradient(90deg, rgb(164, 84, 255) 0%, rgb(118, 89, 255) 100%);"></div>
                <div class="legend-title">New PASS</div>
              </div>
              <div class="legend">
                <div class="legend-item-color" style="background: linear-gradient(90deg, #00bece 0%, #00da78 100%);"></div>
                <div class="legend-title">Repeat PASS</div>
              </div>
            </div>
          </div>
          <div echarts [options]="profitChart" class="echart" (chartInit)="onChartProInit($event)"></div>
        </div>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>