nb-list-item {
    display: flex;

    .input-email-container div {
        display: flex;

        .btn-delete {
            border: none;
            border-radius: 50%;
            padding: 10px;
            background: red;
            color: #ffff;
            font-size: 18px;
            margin: 0 20px;
            height: 30px;
            width: 30px;
            line-height: 0;
            margin: 10px;
        }
    }

    .wrapper-div {
        display: flex;
        align-items: center;

        .btn-edit {
            border: 1px solid;
            border-radius: 6px;
            text-align: center;
            line-height: 35px;
            display: inline-block;
            margin-left: 20px;
            padding: 0 20px;
            background: linear-gradient(to right, #b970ff, #8970ff);
            color: #fff;
        }

        .btn-add {
            border: none;
            padding: 10px 15px;
            background: green;
            color: #ffff;
            margin: 0 20px;
        }
    }

    nb-user {
        width: 300px;
    }
}

.input-search-info {
    padding: 20px 25px;
}

.input-search-email {
    min-width: 400px;
    height: 30px;
    padding: 10px;
    margin: 10px 0;
    display: block;
}