.pass-analytic {
	position: relative;
	display: block;
	overflow: hidden;
}

.drowdown-venue {
	position: fixed;
	top: 22px;
	right: 400px;
	z-index: 99999;
	border: none;
	background: #3D3780;
	color: #fff;
	outline: none;
}
select option.business
{
	font-size: 20px;
	font-weight: bold;
}
.hidden{
	display: none;
}
.flip-button{
	display: none;
}