<!-- <div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-body [class.hidden]="isDashboardShown">
                <div class='page-404-container'>
                    <div class="page-404 col-xl-6 col-lg-6 col-md-8 col-sm-12">
                        <div [innerHTML]="htmlStr"></div>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div> -->

<div>
    <div class="row">
        <div class="col-xxl-5">
            <div class="row">
                <div class="col-md-6">
                    <ngx-consumer></ngx-consumer>
                </div>
                <div class="col-md-6">
                    <ngx-pass></ngx-pass>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ngx-pass-in-period></ngx-pass-in-period>
                </div>
            </div>
        </div>
        <div class="col-xxl-7">
            <ngx-revenue-pass-in-period ></ngx-revenue-pass-in-period>
        </div>
    </div>
    <div class="row">
        <div class="col-xxl-9">
            <ngx-pass-analytic class="pass-analytic"></ngx-pass-analytic>
        </div>
        <div class="col-xxl-3">
            <ngx-pass-activity></ngx-pass-activity>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-xxl-12">
            <ngx-bottle-consumption [selectedBottleConsumption]="selectedBottleConsumption"></ngx-bottle-consumption>
        </div>
    </div>   -->
</div>